root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
indent_size = tab
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,ts,jsx,tsx}]
charset = utf-8
indent_style = tab
indent_size = tab

[*.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
